*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    font-family: sans-serif;
}
/* Định dạng thanh menu ở PC */
.header{
    background: linear-gradient(black, #8b8b8b);
    margin-bottom: 4px;
}
.header .main_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .main_menu > ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.header .main_menu > ul > li{
    position: relative;
}
.header .main_menu ul li:hover{
    background-color: #8b8b8b;
}
.header .main_menu > ul > li > a{
    color: #fff;
    text-decoration: none;
    height: 50px;
    display: block;
    line-height: 50px;
    width: 86px;
    text-align: center;
    font-size: 13px;
}
.header .main_menu .timkiem_gr{
    display: flex;
    align-items: center;
    width: 340px;
}

.header .main_menu .timkiem_gr .timkiem_txt{
    height: 30px;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0px;
    padding: 10px;
    border: none;
    color: #747474;
}
.header .main_menu .timkiem_gr .timkiem_txt:focus{
    outline: none;
}
.header .main_menu .timkiem_gr .timkiem_btn{
    height: 30px;
    width: 30px;
    margin: 0px;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
}
.header .main_menu .giohang_gr{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 4px;
}
.header .main_menu .giohang_gr .giohang_sl{
    position: absolute;
    top: 9px;
    right: 4px;
    font-size: 13px;
    background-color: #0e8aed;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    line-height: 22px;
    border-radius: 12px;
}
.header .main_menu .nguoidung_gr{
    display: flex;
    align-items: center;
}
.header .main_menu .nguoidung_gr .nguoidung_dn{
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    width: 76px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}
.header .main_menu .nguoidung_gr .nguoidung_dn:hover{
    background-color: #8b8b8b;   
}
.header .main_menu .nguoidung_gr .nguoidung_dx{
    display: none;
    height: 50px;
    line-height: 50px;
    color: #fff;
    width: 76px;
    text-align: center; 
    cursor: pointer;
    font-size: 13px;
}
.header .main_menu .nguoidung_gr .nguoidung_dx:hover{
    background-color: #8b8b8b;   
}
.home_gr{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.home_gr .home_img{
    width: 28px;
    height: 28px;
}
.header .sub_menu{
    position: absolute;
    background-color: #fff;
    list-style: none;
    box-shadow: 0px 0px 3px #7e7d7d;
    display: none;
}
.header .sub_menu li a:hover{
    color: #fff;
}
.header .sub_menu li  a{
    color: #333;
    text-decoration: none;
    font-size: 13px;
    display: block;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    min-width: 120px;   
}
.header .main_menu > ul > li:hover .sub_menu{
    display: block;
}

/* banner img */
.banner_gr{

}
.banner_gr .banner_img{

}

/* Modal đăng nhập */
.modal_dangnhap{
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    top: -80px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.active_modal_dangnhap{
    display: flex;
}
.modal_dangnhap_content{
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    width: 380px;
}
.modal_dangnhap_header{
    padding: 8px 12px;
    background-color: #0698f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal_dangnhap_title{
    color: #fff;
    font-size: 16px;
}
.modal_dangnhap_icon{
    width: 26px;
    cursor: pointer;
}
.modal_dangnhap_body{
    display: flex;
    flex-direction: column;
    margin: 12px 12px;
}
.modal_dangnhap_text{
    width: 100%;
    margin: 6px 0px;
    padding: 3px 5px;
    font-size: 14px;
}
.modal_dangnhap_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.modal_dangnhap_submit{
    padding: 5px 5px;
    margin: 0px 2px;
    width: 80px;
    color: #fff;
    background-color: #0698f0;
    border: 1px solid #0698f0;
    cursor: pointer;
}
.modal_dangnhap_huy{
    padding: 5px 5px;
    margin: 0px 2px;
    width: 80px;
    color: #fff;
    background-color: #0b0b0ba8;
    border: 1px solid #0b0b0b69;
    cursor: pointer;
}